@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
}

.principal-banner__h1{
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.button {
  transition: all 0.2s ease-in-out;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(196, 129, 75, 0.4);
}